# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift
*.swp
*.swo
*.DS_Store
*.out
*.o
*.a
*.dylib
*.xcodeproj
*.xcworkspace

# Build
build/
DerivedData/

# Swift Package Manager
/.build
/Packages
/*.xcodeproj
.swiftpm

# Other
*.log
*.tmp